<div class="sidebar-dash">
  <ul class="nav-sidebar">
    <li>This will be the dashboard area.</li>
    <hr>
    <li>Graphs and overall statistics will appear in this portion.</li>
    <hr>
  </ul>
</div>
