.navbar-inverse .navbar-toggle {
  border-color:transparent;
  border:0px solid transparent;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 3px;
}
input.btn {
  margin-top:10px;
}
.shared-links {
  margin-top:10px;
}


// This is for the welcome/home page and the title

.service-banner {
  font-family: 'Damion', cursive;
  font-size:10em;
  margin:0 auto;
  text-shadow: rgb(50, 149, 114) 4px 3px 0px, rgba(0, 0, 0, 0.14902) 9px 8px 0px;
}
