.navbar-inverse .navbar-toggle {
  border-color:transparent;
  border:0px solid transparent;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 3px;
}
input.btn {
  margin-top:10px;
}
.shared-links {
  margin-top:10px;
}


// This is for the welcome/home page and the title
