<h1>Editing expense</h1>

<%= render 'form_bootstrapped' %>

<%= link_to 'Show', @expense, class: "btn btn-default btn-bottom-links" %> 
<%= link_to 'Back', expenses_path, class: "btn btn-default btn-bottom-links" %>
